* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font: normal 16px/1.4 Arial, sans-serif;
}

body {
  background: #fff;
  font-style: normal;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  text-align: justify;
}

ol {
  margin-left: 2.25rem;
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 1.6;
}

button {
  background: none;
  border: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}

button:disabled {
  cursor: default;
}

:focus {
  outline: 3px solid #c1e0fe;
  outline: 3px solid rgba(131, 192, 253, 0.5);
  outline-offset: 1px;
}

:focus[data-focus-method="mouse"]:not(input):not(textarea):not(select),
:focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: #fff;
  font-size: 1em;
  padding: 5px 15px;
  background: #363938;
  margin-top: 10px;
  text-shadow: 0px 0px 1px #1b5077;

  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, transform 0.2s;
}

.btn.big-btn {
  font-size: 1.2em;
}

.btn:hover {
  background: #545458;
}

.mrg-btn-2 {
  margin-bottom: 2em;
}

.contacts {
  background: url(img/contacts-background.jpg) no-repeat scroll bottom center;
}

/******************************** ^ DEFAULT STYLE ^ ************************************/

/******************************** MAIN WRAPPERS ************************************/

.wrapper {
  max-width: 1400px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1em;
  box-sizing: inherit;
}

header {
  height: 80px;
  background: #363938;
  z-index: 1000;
  position: relative;
}

header.shadow-light {
  box-shadow: 0px 3px 10px #a7a7a7;
}

header .logo {
  background: url(img/logo.png) no-repeat;
  background-size: contain;
  margin: 9px 0;
  width: 200px;
  height: 62px;
  float: left;
  display: block;
}

header a {
  color: #fff;
  outline: none;
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, transform 0.2s;
}

header .menu a:after {
  content: "";
  border: 2px solid;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

header .menu a:hover:after {
  opacity: 1;
}

header .menu a:before {
  margin-right: 8px;
}

header .menu {
  float: left;
  line-height: 80px;
  margin-left: 100px;
}

header .menu a {
  display: block;
  float: left;
  padding: 0 2em;
  font-weight: bold;
  position: relative;
}

header .menu a.active {
  background: #e8e8e8;
}

.main {
  min-height: 100%;
}

footer {
  height: 50px;
  background: #363938;
  position: relative;
}

footer .copyright {
  color: #fff;
  text-align: center;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  padding: 1em 0;
}

.page-header-caption {
  text-align: center;
  color: #545458;
  padding: 3em 0 2em 0;
  position: relative;
}

.page-header-caption h1 {
  display: inline-block;
}

.items-block {
  margin: 1em auto 8em auto;
  display: flex;
}

.items-block .item {
  height: 50px;
  width: 25%;
  position: relative;
  margin: 0 auto;
}

.items-block .item .info {
  border-top: 2px solid #f3f1f1;
  padding-top: 0.4rem;
}

.table-cont {
  background: #fff;
  margin-bottom: 4em;
  margin-top: 2em;
  box-shadow: 0px 0px 45px #cacaca;
}

table th {
  background: #e8e8e8;
  font-weight: bold;
}

table td {
  font-size: 0.9em;
}

table td,
table th {
  padding: 1em;
  color: #545458;
  border: 1px solid #dedede;
}

/******************************** MAIN WRAPPERS ************************************/
